div :first-child {
    color: pink;
}

.text-box > #greycol{
    color: gray;
}


.text-box :only-child{
    color: red;
}

.text-box > .yellow{
    color: yellow;
}
div ~ p{
    color: green;
}

/*==============2 ЧАСТИНА================*/

table {
    border-collapse: collapse;
}

table th,
table td {
  padding: 10px;
  border: 1px solid #2a2a2a;
}

/*=======================================*/

/* tr > th{
    background-color: rgb(255, 255, 255);
    color: rgb(42, 6, 203);
} */

th:hover{
    background-color: rgb(255, 255, 255);
}

.den-nedeli{
    color: orange;
}

.den-nedeli:hover:nth-child(-n + 5){
    background-color: black;
}

.ce_1:hover:nth-child(2n + 1){
    color: rgb(202, 0, 0);
    background-color: rgb(0, 0, 0);
}

.ce_1.ce_1:hover:nth-child(2n){
    color: white;
    background-color: blue;
}

.ce_2:hover:nth-child(2){
    color: chartreuse;
    background-color: #2a2a2a;
}

.ce_2:hover:nth-child(n + 3){
    color: rgb(0, 247, 255);
    background-color: rgb(66, 72, 101);
}

.ce_2:hover:first-child{
    color: rgb(0, 247, 255);
    background-color: rgb(66, 72, 101);
}

.ce_3:hover:nth-child(2n + 1){
    color: gold;
    background-color: #2a2a2a;
}

.ce_3:hover:nth-child(2n + 2){
    color: white;
    background-color: black;
}